<div id="map" style="height:450px;width:50%;margin:auto;border-radius:8px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<script>
    var map = L.map('map').setView([{{ map_center[0] }}, {{ map_center[1] }}], {{ map_zoom }});

    L.tileLayer("{{ tile_url }}", {
        maxZoom: 18
    }).addTo(map);

    fetch("{{ geojson_url }}")
        .then(res => res.json())
        .then(data => {
            var layer = L.geoJSON(data).addTo(map);
            map.fitBounds(layer.getBounds());
        })
        .catch(err => console.error(err));
</script>
