{% extends "base.html" %}

{% block content %}
<div class="settings-container">
    {% include "header.html" %}
    
    <div id="settings">
        <nav id="left-settings" class="sidebar-title">
            <div class="nav-item sidebar-title">
                <a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a>
            </div>
            <div class="nav-item sidebar-title">
                <a href="{{ url_for('fwi_form') }}"><i class="fas fa-cog"></i> Weather forecast maps</a>
            </div>
            <div class="nav-item sidebar-title">
                <a href="{{ url_for('fwi_map') }}"><i class="fas fa-cog"></i> Satellite imagery</a>
            </div>
  
        </nav>
        
        <div class="container" style="height: 470px; overflow-y: auto">
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html
$ git commit -am 'added blank template with header left nav and footer'
[main 3361d53] added blank template with header left nav and footer
 4 files changed, 84 insertions(+), 3 deletions(-)
 create mode 100644 templates/satellite_models/Blank-template-with-nav.html
 create mode 100644 templates/satellite_models/forecast-windy1.html


        </div>
    </div>
    
    {% include 'footer.html' %}
</div>


{% endblock %}