* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;

    display: grid;
    grid-template-areas:
        'header header header'
        'nav content sidebar'
        'nav content footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 40px 1fr 130px;
}


main {
    display: flex;
    flex-direction: column;
}

.top-section {
    flex: 0 0 80%;
    /* 80% height */
    background: #e6e6e6;
}

.bottom-section {
    flex: 0 0 20%;
    /* 20% height */
    background: #e6e6e6;
}

.bottom-section {
    display: flex;
    flex-direction: row;
}

.pie-chart {
    width: 50%;
}

.graph {
    width: 50%;
}



header,
footer,
main,
aside,
nav {
    background-color: rgb(231, 234, 237);
    color: #171515;
    padding: 20px;
    border: skyblue 1px solid;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

/* fills the top-section with map 100% both height and width */
#map {
    width: 100%;
    height: 100%;
    border: 1px solid #7f7373ff;

}


/* -------------- Chart container styling -------*/
/* Restrict the chart height */
.graph-wrapper {
    width: 100%;
    height: 140px;
    width: 80%;
    /* ⭐ FIX: Chart height limited */
    padding: 5px;
    border-right: 1px solid #7f7373ff;

}

.graph {
    width: 100%;
    height: 100%;
    /* fill wrapper, but wrapper is small */
}

.piechart-wrapper {
    width: 100%;
    height: 120px;
    /* ⭐ IMPORTANT: restrict height */
    padding: 5px;
}

#pieChart {
    width: 100%;
    height: 100%;
}


/* -------------- navigation side bar styling -------*/
.sidebar {
    width: 100%;
}