{% extends "base.html" %}

{% block content %}

<body>
    <div class="settings-container">
        {% include "header.html" %}
        <div id="settings">
            <nav id="left-settings" class="sidebar-title">
                <div class="nav-item sidebar-title">
                    <a href="#"><i class="fas fa-cog"></i> Settings</a>
                </div>
                <div>Fire detection alerts</div>
                <a class="redirect" href="{{ url_for('coordinates_settings') }}">Weather & FWI Coordinates</a>
            </nav>

            <main id="main-settings">
                <div class="container">
                    <h2>Uplate Coordinates for FWI data</h2>
                    <table id="coordsTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="number" step="0.0001" value="-15.0"></td>
                                <td><input type="number" step="0.0001" value="27.0"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input type="number" step="0.0001" value="-16.0"></td>
                                <td><input type="number" step="0.0001" value="28.0"></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input type="number" step="0.0001" value="-14.5"></td>
                                <td><input type="number" step="0.0001" value="26.5"></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input type="number" step="0.0001" value="-15.5"></td>
                                <td><input type="number" step="0.0001" value="27.5"></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input type="number" step="0.0001" value="-15.2"></td>
                                <td><input type="number" step="0.0001" value="27.2"></td>
                            </tr>
                        </tbody>
                    </table>

                    <button id="getWeatherBtn">Get Weather for All Points</button>

                    <h3>Weather Results:</h3>
                    <div id="resultsContainer">Weather data will appear here.</div>

                </div>
            </main>
        </div>
    </div>
</body>

{% include 'footer.html' %}

{% endblock %}