{% extends "base.html" %}

{% block content %}

<header>
    <h5><i class="fas fa-fire"></i> Wildfire Monitoring System FMS - Zimbabwe</h5>
</header>

<nav>
    <div class="nav-item sidebar-title">
        <a href="#"><i class="fas fa-home"></i> Home</a>
    </div>

    <div class="nav-item sidebar-title">
        <a href="#"><i class="fas fa-cog"></i> Settings</a>
    </div>
    <div>Fire detection alerts</div>
    <a href="{{ url_for('coordinates_settings') }}">Weather & FWI Coordinates</a>


</nav>

<main>
    Table for settings here



</main>

<aside>

</aside>

{% include "footer.html" %}


{% endblock %}