{% extends "base.html" %}
{% block title %}Wildfire Monitoring System FMS - Zimbabwe{% endblock %}

{% block content %}
<!-- MAIN LAYOUT -->
<div class="container-fluid mt-3">
    <div class="row">

        <!-- SIDEBAR -->
      {% include 'sidebar1.html' %}

     <!-- MAP SECTION -->
<div class="col-md-7" style="height: 100vh; display: flex; flex-direction: column; border:1px solid #7f7373ff;">

    <!-- Map takes 80% of the container height -->
    <div id="map" ></div>

    <!-- Bottom stats and graph takes 20% -->
    <div style="flex: 2; overflow-y: auto;">
        {% include 'stats.html' %}
    </div>

</div>



        <!-- RIGHT SIDEBAR -->
      {% include 'sidebar2.html' %}
    </div> 
</div>

{% endblock %}
