{% extends "base.html" %}

{% block content %}

    <header>
        <h5><i class="fas fa-fire"></i> Wildfire Monitoring System FMS - Zimbabwe</h5>
    </header>
    
    {% include 'navigation.html' %}
    
    <main> 
      {% include 'main_top.html' %}
      {% include 'main_bottom.html' %}
   
   
    </main>
    
    <aside>
      {% include 'sidebar2.html' %}
    </aside>
    
    <footer>
        <small>Developed by Farai Marumbwa &copy; 2025 | maxmarumbwa@gmail.com</small>
    </footer>
   

{% endblock %}