{% extends "base.html" %}
{% block title %}Wildfire Monitoring System FMS - Zimbabwe{% endblock %}

{% block content %}

<header>Wildfire Monitoring System FMS - Zimbabwe</header>
<main>
  <div class="top-section">
    <div id="map"></div>
  </div>

  <div class="bottom-section">
    <div class="graph">
      {% include 'graph.html' %}
    </div>
    <div class="pie-chart">
      {% include 'piechart.html' %}
    </div>

  </div>


</main>
<nav>Navigation</nav>
<aside>Sidebar</aside>
<footer>Footer</footer>

{% endblock %}