{% extends "base.html" %}
{% block title %}Wildfire Monitoring System FMS - Zimbabwe{% endblock %}

{% block content %}
<!-- MAIN LAYOUT -->
<div class="container-fluid mt-3">
    <div class="row">

        <!-- SIDEBAR -->
      {% include 'sidebar1.html' %}

        <!-- 🗺️ MAP SECTION -->
        <div class="col-md-9">
            <h2>Zimbabwe Wildfire Monitoring System</h2>
            <div id="map" style="height: 90vh; border:1px solid #ccc;"></div>
        </div>

    </div>
</div>

{% endblock %}
