    <nav>
        <div class="nav-item sidebar-title">
            <a href="#"><i class="fas fa-home"></i> Home</a>
        </div>

        <div class="nav-item sidebar-title">
             <a href="#"><i class="fas fa-fire"></i> Active Fires</a>
        </div>
        <label class="form-label" >Filter By Province</label>
        <select class="form-select" id="provinceSelect">
          <option value="all">All Provinces</option>
        </select>

        <div class="nav-item sidebar-title">
             <a href="#"><i class="fas fa-map-marked-alt"></i> Historical fires</a>
        </div>
             <label class="form-label">Filter By Season</label>               
            <div class="mb-3">
                    <select class="form-select" id="yearSelect">
                        <option value="2003" selected>2003</option>
                        {% for year in range(2000, 2026) %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Filter By Season</label>
                    <select class="form-select" id="seasonSelect">
                        <option value="all">All Seasons</option>
                        <option value="dry">Dry Season</option>
                        <option value="wet">Wet Season</option>
                    </select>
                </div>
                <div class="nav-item sidebar-title">
                    <a href="{{ url_for('coordinates_settings') }}"><i class="fas fa-cog"></i> Settings</a>
                </div>

    </nav>